<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-company-white">
  <a class="navbar-brand">
    <img src="./assets/images/logo.png"/>
  </a>
  <ul class="nav navbar-nav mr-auto">
      <li class="nav-item project-list"><a class="nav-link" routerLink="/journal" routerLinkActive="active">journal</a></li>
      <li class="nav-item project-list"><a class="nav-link" routerLink="/reflect" routerLinkActive="active">reflect</a></li>
      <li class="nav-item project-list"><a class="nav-link" routerLink="/inspire" routerLinkActive="active">inspire</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>